<!-- config.component.html -->
<div class="container">
  <h2>Enter JSON Structure to Generate Form</h2>

  <textarea
    [(ngModel)]="jsonInput"
    rows="10"
    cols="50"
    placeholder="Enter JSON form structure here"
  ></textarea>
  <br />
  <button (click)="generateForm()">Generate Form</button>

  <!-- Form Preview -->
  <div *ngIf="formFields.length > 0">
    <h2>Form Preview</h2>
    <form [formGroup]="form" (ngSubmit)="submitContact()">
      <div *ngFor="let field of formFields" class="form-field">
        <label [for]="field.name">{{ field.label }}:</label>

        <!-- Text, Email, Number, URL inputs -->
        <ng-container
          *ngIf="['text', 'email', 'number', 'url'].includes(field.type)"
        >
          <input
            [type]="field.type"
            [id]="field.name"
            [formControlName]="field.name"
            [placeholder]="field.placeholder || ''"
            class="form-control"
          />
        </ng-container>

        <!-- Password input -->
        <ng-container *ngIf="field.type === 'password'">
          <input
            type="password"
            [id]="field.name"
            [formControlName]="field.name"
            [placeholder]="field.placeholder || ''"
            class="form-control"
          />
        </ng-container>

        <!-- Checkbox -->
        <ng-container *ngIf="field.type === 'checkbox'">
          <input
            type="checkbox"
            [id]="field.name"
            [formControlName]="field.name"
            class="form-checkbox"
          />
        </ng-container>

        <!-- Radio buttons -->
        <ng-container *ngIf="field.type === 'radio'">
          <div class="radio-group">
            <div *ngFor="let option of field.options" class="radio-option">
              <input
                type="radio"
                [id]="field.name + '_' + option"
                [formControlName]="field.name"
                [value]="option"
                class="form-radio"
              />
              <label [for]="field.name + '_' + option">{{ option }}</label>
            </div>
          </div>
        </ng-container>

        <!-- Select dropdown -->
        <ng-container *ngIf="field.type === 'select'">
          <select
            [id]="field.name"
            [formControlName]="field.name"
            class="form-select"
          >
            <option value="">Select an option</option>
            <option *ngFor="let option of field.options" [value]="option">
              {{ option }}
            </option>
          </select>
        </ng-container>

        <!-- Textarea -->
        <ng-container *ngIf="field.type === 'textarea'">
          <textarea
            [id]="field.name"
            [formControlName]="field.name"
            [placeholder]="field.placeholder || ''"
            class="form-textarea"
          ></textarea>
        </ng-container>

        <!-- Error messages -->
        <div
          *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched"
          class="error-message"
        >
          {{ getErrorMessage(field.name) }}
        </div>
      </div>

      <!-- Submit button -->
      <button type="submit">Submit</button>
    </form>

    <div>
      <label for="formName">Form Name:</label>
      <input type="text" [(ngModel)]="formName" placeholder="Enter Form Name" />
      <button (click)="saveForm()">Save Form</button>
    </div>
  </div>
</div>

<label for="formSelect">Select Form:</label>
<select
  id="formSelect"
  [(ngModel)]="selectedFormId"  
  (change)="onFormSelectChange()"
>
  <option *ngFor="let form of formNames" [value]="form._id"> 
    {{ form.formName }}
  </option>
</select>

<button (click)="setForm()">Set Form</button>


<!-- <h2>Available Forms</h2>
<div *ngIf="formNames.length > 0">
  <ul>
    <li *ngFor="let formName of formNames">
      {{ formName }}
    </li>
  </ul>
</div>


<div *ngIf="formNames.length === 0">
  <p>No forms available.</p>
</div> -->
