<div class="container">
  <h2>Enter JSON Structure to Generate Form</h2>
  <textarea
    [(ngModel)]="jsonFormInput"
    rows="10"
    cols="50"
    placeholder="Enter JSON form structure here"
  ></textarea>
  <button (click)="generateJsonForm()">Generate Form</button>

  <app-dynamic-form
    *ngIf="showJsonFormPreview"
    [formFields]="jsonFormFields"
    [form]="jsonForm"
    [previewMode]="showJsonFormPreview"
    (formSubmit)="onSubmitJsonForm($event)"
  ></app-dynamic-form>

  <!-- Show the submit button only after the form is generated -->
  <!-- <button *ngIf="showJsonFormPreview" type="submit" (click)="onSubmitJsonForm()">Submit</button> -->

  <hr />

  <h2>Select Form</h2>
  <label for="formSelect">Select Form:</label>
  <select
    id="formSelect"
    [(ngModel)]="selectedFormId"
    (change)="onDropdownFormSelect()"
  >
    <option *ngFor="let form of formNames" [value]="form._id">
      {{ form.formName }}
    </option>
  </select>

  <app-dynamic-form
    *ngIf="showDropdownFormPreview"
    [formFields]="dropdownFormFields"
    [form]="dropdownForm"
    [previewMode]="showDropdownFormPreview"
    (formSubmit)="onSubmitDropdownForm($event)"
  ></app-dynamic-form>

  <!-- <button *ngIf="showDropdownFormPreview" type="submit" (click)="onSubmitDropdownForm()">Submit</button> -->
</div>
