<nav class="navbar">
  <!-- Navbar before login -->
  <div *ngIf="!isLoggedIn; else loggedInTemplate" class="navbar-content">
    <div class="navbar-left">
      <img src="../../assets/images/logo.jpg" alt="Logo" class="logo" />
      <h1>ContactVault</h1>
    </div>
    <div class="navbar-right">
      <!-- Show Register button or Sign In button based on flags -->
      <button *ngIf="isRegisterForm" (click)="navigateToSignIn()">Sign In</button>
      <button *ngIf="isSignInForm" (click)="navigateToRegister()">Register</button>
    </div>
  </div>

  <!-- Navbar after login -->
  <ng-template #loggedInTemplate>
    <div class="navbar-content">
      <div class="navbar-left">
        <img src="../../assets/images/logo.jpg" alt="Logo" class="logo" />
        <h1>ContactVault</h1>
      </div>
      <div class="navbar-center">
        <span>Welcome, {{ username }}!</span>
      </div>
      <div class="navbar-right">
        <!-- Config button added -->
        <button (click)="navigateToConfig()">
          <mat-icon>settings</mat-icon> Config
        </button>
        <button (click)="logout()">
          <mat-icon>exit_to_app</mat-icon> Logout
        </button>
      </div>
    </div>
  </ng-template>
</nav>
