<div *ngIf="formFields && formFields.length" class="dynamic-form-container">
  <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      method="POST"
    >
      <div *ngFor="let field of formFields">
        <label for="{{ field.name }}">{{ field.label }}:</label>

        <input
          *ngIf="
            field.type === 'text' ||
            field.type === 'email' ||
            field.type === 'number' ||
            field.type === 'url'
          "
          [type]="field.type"
          id="{{ field.name }}"
          formControlName="{{ field.name }}"
          [placeholder]="field.placeholder"
          [required]="field.required"
          [readonly]="field.readonly"
          [maxlength]="field.maxlength"
          [minlength]="field.minlength"
          [pattern]="field.pattern"
          [autofocus]="field.autofocus"
          [autocomplete]="field.autocomplete"
        />

        <input
          *ngIf="field.type === 'password'"
          type="password"
          id="{{ field.name }}"
          formControlName="{{ field.name }}"
          [placeholder]="field.placeholder"
          [required]="field.required"
          [readonly]="field.readonly"
        />

        <input
          *ngIf="field.type === 'tel'"
          type="tel"
          id="{{ field.name }}"
          formControlName="{{ field.name }}"
          [placeholder]="field.placeholder"
          [required]="field.required"
        />

        <input
          *ngIf="field.type === 'date'"
          type="date"
          id="{{ field.name }}"
          formControlName="{{ field.name }}"
          [required]="field.required"
        />

        <input
          *ngIf="field.type === 'datetime-local'"
          type="datetime-local"
          id="{{ field.name }}"
          formControlName="{{ field.name }}"
          [required]="field.required"
        />

        <input
          *ngIf="field.type === 'range'"
          type="range"
          id="{{ field.name }}"
          formControlName="{{ field.name }}"
          [min]="field.min"
          [max]="field.max"
          [step]="field.step"
        />
        <span *ngIf="field.type === 'range'"
          >{{ field.min }} - {{ field.max }}</span
        >

        <input
          *ngIf="field.type === 'file'"
          type="file"
          formControlName="{{ field.name }}"
          [accept]="field.accept"
          [multiple]="field.multiple"
        />

        <div *ngIf="field.type === 'checkbox'">
          <input
            type="checkbox"
            id="{{ field.name }}"
            formControlName="{{ field.name }}"
            [required]="field.required"
            [readonly]="field.readonly"
            [checked]="field.checked"
          />
        </div>

        <div *ngIf="field.type === 'radio'">
          <div *ngFor="let option of field.options">
            <input
              type="radio"
              [value]="option"
              [name]="field.name"
              formControlName="{{ field.name }}"
              [required]="field.required"
              [readonly]="field.readonly"
              [checked]="field.checked === option"
            />
            <label>{{ option }}</label>
          </div>
        </div>

        <div *ngIf="field.type === 'select'">
          <select
            id="{{ field.name }}"
            formControlName="{{ field.name }}"
            [required]="field.required"
          >
            <option *ngFor="let option of field.options" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>

        <textarea
          *ngIf="field.type === 'textarea'"
          id="{{ field.name }}"
          formControlName="{{ field.name }}"
          [required]="field.required"
          [placeholder]="field.placeholder"
        ></textarea>

        <input
          *ngIf="field.type === 'color'"
          type="color"
          id="{{ field.name }}"
          formControlName="{{ field.name }}"
        />

        <button
          *ngIf="field.type === 'button'"
          type="button"
          (click)="field.action()"
          [disabled]="field.disabled"
        >
          {{ field.label }}
        </button>

        <input
          *ngIf="field.type === 'search'"
          type="search"
          id="{{ field.name }}"
          formControlName="{{ field.name }}"
          [placeholder]="field.placeholder"
          [required]="field.required"
        />
      </div>
      <button type="submit" [disabled]="form.invalid">Submit</button>
    </form>
</div>
