body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.contacts-table {
    font-size: medium;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.contacts-header {
    background-color: #0a5eb0;
    color: white;
    text-align: left;
    padding: 10px;
}

.contact-row:nth-child(even) {
    background-color: #f2f2f2;
}

.contact-cell {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.subcategory {
    font-size: 0.9em;
    color: #666;
}

mat-fab {
    border-radius: 8px;
    box-shadow: none;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-btn {
    background-color: #d4f5e1;
    color: #4CAF50;
}

.sort-btn mat-icon {
    font-size: 20px;
}

.edit-btn {
    background-color: #d9eaf7;
    color: #0a5eb0;
}

.edit-btn mat-icon {
    font-size: 20px;
}

.delete-btn {
    background-color: #fbd2d0;
    color: #f44336;
}

.delete-btn mat-icon {
    font-size: 20px;
}

.sort-btn:hover {
    background-color: #b2e6a1;
}

.edit-btn:hover {
    background-color: #b3d9f7;
}

.delete-btn:hover {
    background-color: #f7a7a1;
}

div[ngIf] {
    text-align: center;
    font-size: 1.2em;
    color: #888;
    margin: 20px 0;
}

td.contact-cell button {
    margin-right: 10px;
}
