<h2 id="signin-title">Signin</h2>
<!-- signin.component.html -->
<form (ngSubmit)="signin($event)" id="signin-form">
    <label for="email" class="signin-label">Email</label>
    <input type="email" [(ngModel)]="email" name="email" id="email" class="signin-input" required />
  
    <label for="password" class="signin-label">Password</label>
    <input type="password" [(ngModel)]="password" name="password" id="password" class="signin-input" required />
  
    <button type="submit" id="signin-button" class="signin-button">Signin</button>
  </form>
  

